{% extends "layout.html" %}
{% block content %}

    <div class="pcontainer">
        <div class="pimg4">
            <div class="ptext">
                <span class="border">
                    Projects
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Cheers!</h2>
            <p>Welcome to the project portion of my website.</p>
            <p>Here are some of the projects I've built.</p>
            <p>Feel free to take a look around!</p>
            <br>
            <p>PS - Made the website you're looking at right now ;)</p>
            <p>using Flask, HTML, CSS and JS</p>
        </section>

        <div class="poverlay"></div>
        <div class="pimg5">
            <div class="ptext">
                <span class="border">
                    Chessmate
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Chessmate</h2>
            <p>Mechatronics Capstone project in team of 6.
               Responsible for CAD designing, building, 3D printing and lasercutting parts of our chess playing robot.
               We interfaced the actuators using G-Code similar to that of a 3D Printer.
               Created a inverse kinematics Python script to get necessary angles for motors.
               As well as, Arduino code for the grabber.
            </p>
        </section>

            <div class="pimg6">
                <div class="ptext">
                    <span class="border">
                        Robotic Hand
                    </span>
                </div>
            </div>

        <section class="section-dark">
            <h2>Robotic Hand</h2>
            <p>McMaster Makers project build of button controlled robotic hand.
               Responsible for creating the Arduino control file, as well as,
                documentation and instructions for the coding and electrical portion of
                tutorial to teach other students.
            </p>
        </section>

            <div class="pimg7">
                <div class="ptext">
                    <span class="border">
                        Soosh Restaurant Template
                    </span>
                </div>
            </div>

        <section class="section-dark">
            <h2>Soosh Restaurant Template</h2>
            <p> HTML, CSS, JS static webpage for a make believe sushi restaurant called Soosh. Feel free to check out the
                webpage below.
            </p>
            <a href="/soosh"><button id="soosh">Soosh Webpage</button></a>
        </section>

    </div>

{% endblock content %}