{% extends "layout.html" %}
{% block content %}

    <div class="pcontainer">
        <div class="pimg4">
            <div class="ptext">
                <span class="border">
                    Projects
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Cheers!</h2>
            <p>Welcome to the project portion of my website.</p>
            <p>Here are some of the projects I've built.</p>
            <p>Feel free to take a look around!</p>
            <br>
            <p>PS - Made the website you're looking at right now ;)</p>
            <p>using Flask, HTML, CSS and JS</p>
        </section>

        <div class="poverlay"></div>
        <div class="pimg5">
            <div class="ptext">
                <span class="border">
                    Chessmate
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Chessmate</h2>
            <p>Mechatronics Capstone project in team of 6.
               Responsible for CAD designing, building, 3D printing and lasercutting parts of our chess playing robot.
               We interfaced the actuators using G-Code similar to that of a 3D Printer.
               Created a inverse kinematics Python script to get necessary angles for motors.
               As well as, Arduino code for the grabber.
            </p>
        </section>

        <div class="pimg6">
            <div class="ptext">
                <span class="border">
                    Robotic Hand
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Robotic Hand</h2>
            <p>McMaster Makers project build of button controlled robotic hand.
               Responsible for creating the Arduino control file, as well as,
                documentation and instructions for the coding and electrical portion of
                tutorial to teach other students.
            </p>
        </section>

        <div class="pimg7">
            <div class="ptext">
                <span class="border">
                    Soosh Restaurant Template
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Soosh Restaurant Template</h2>
            <p> HTML, CSS, JS static webpage for a make believe sushi restaurant called Soosh. Feel free to check out the
                webpage below.
            </p>
            <div class="btn-container">
                <a href="/soosh"><button class="preview">Soosh Webpage</button></a>
                <a href="https://github.com/EpikSkeptik/Soosh"><button class="github-repo">Github Repo</button></a>
            </div>

        </section>

        <div class="pimg8">
            <div class="ptext">
                <span class="border">
                    Tip App Calculator
                </span>
            </div>
        </div>

        <section class="section-dark">
            <h2>Tip App Calculator</h2>
            <p> HTML, CSS, Vanilla JS to create Frontend Mentor Junior Challenge of functioning Tip Calculator from frontendmentor.io.
            </p>

            <div class="btn-container">
                <a href="https://peaceful-edison-36dfe7.netlify.app/"><button class="preview">Live Webapp</button></a>
                <a href="https://github.com/EpikSkeptik/tip-calculator-app-main-"><button class="github-repo">Github Repo</button></a>
            </div>
        </section>


    </div>

{% endblock content %}